Q1. What is a database? Differentiate between SQL and NoSQL databases.
ans = A database is a structured collection of data that is stored electronically and organized to make it easier to manage and access. Databases can store any type of data, including numbers, words, images, videos, and files.
SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

Q2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
ans= DDL stands for "Data Definition Language," which is a set of commands used in a database management system to define and manage the structure of database objects like tables, indexes, and views, essentially allowing you to create, modify, or delete these objects within a database; key DDL commands include "CREATE" to create new objects, "DROP" to delete existing objects, "ALTER" to modify existing objects, and "TRUNCATE" to remove all data from a table while keeping its structure intact

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
ans = DML stands for "Data Manipulation Language," which is a subset of SQL used to add, modify, and delete data within a database table; the primary DML commands are "INSERT" to add new data, "UPDATE" to modify existing data, "DELETE" to remove data, and "TRUNCATE" to completely empty a table

Q4. What is DQL? Explain SELECT with an example.
ans= DQL stands for "Data Query Language," which is a part of SQL (Structured Query Language) used to retrieve data from a database by executing queries; the primary command within DQL is "SELECT," allowing you to specify which columns and rows of data you want to extract from a table

Q5.Explain Primary Key and Foreign Key.
ans= A primary key and a foreign key are both important database objects that establish relationships between tables and control data
Primary key
A column or set of columns that uniquely identifies each row in a table. Relational databases only allow one row with a given primary key value in a table.
Foreign key
A column or set of columns that references the primary key of another table. When a foreign key matches a primary key, it establishes a relationship between the data in the two tables

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
ans = To connect Python to a MySQL database, we can use the mysql-connector-python package, which provides a straightforward way to interact with MySQL databases.
first we installed the package using
pip install mysql-connector-python
then
import mysql.connector
# Establish a connection to the database
connection = mysql.connector.connect(
    host='localhost',        # Database host (e.g., localhost)
    user='your_username',    # Your MySQL username
    password='your_password', # Your MySQL password
    database='your_database'  # Name of the database to connect to
)

if connection.is_connected():
    print("Connection successful!")
else:
    print("Connection failed!")

The cursor() Method
The cursor() method is used to create a cursor object, which allows you to execute SQL queries and fetch results from the database. A cursor acts as a pointer that helps you navigate through the rows of a result set.
# Create a cursor object
cursor = connection.cursor()

The execute() Method
The execute() method is used to execute a SQL query or command. You can use it to run SELECT, INSERT, UPDATE, and DELETE statements. This method takes a SQL command as a parameter and executes it against the database.

# Execute a SQL query
cursor.execute("SELECT * FROM your_table")

# Fetch all results
results = cursor.fetchall()
for row in results:
    print(row)

Q7. Give the order of execution of SQL clauses in an SQL query.
ans = In SQL, the execution of clauses in a query follows a specific logical order, which differs from the way you typically write the query.
FROM
Specifies the tables from which to retrieve or manipulate data. This is where the database scans the tables involved in the query.
JOIN
If there are any JOIN operations, they are processed next. This includes any type of join: INNER JOIN, LEFT JOIN, RIGHT JOIN, etc. It combines data from two or more tables based on a related column between them.
WHERE
Applies filtering conditions on the rows returned from the FROM and JOIN steps. Only the rows that satisfy the WHERE condition are passed to the next step.
GROUP BY
Groups the result set into subsets based on one or more columns. This is used when you want to apply aggregate functions like SUM(), COUNT(), etc., on groups of data.
HAVING
Filters groups of data created by GROUP BY based on a condition. It’s similar to WHERE, but it applies to groups rather than individual rows.
SELECT
Specifies the columns (or expressions) to retrieve from the filtered data. At this point, the data is already grouped (if applicable), and the final projection (selection) of columns is made.
DISTINCT
Removes duplicate rows from the result set. It’s applied after the SELECT clause has specified which columns to include.
ORDER BY
Sorts the result set based on one or more columns in ascending (ASC) or descending (DESC) order.
LIMIT / OFFSET
Limits the number of rows returned and can also specify an offset to skip a certain number of rows before starting to return the result set.